/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: white
    /* Set default text color to white */
}

/* Container Styling */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Card Styles */
.card {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px white;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 15px;
}

/* Artist Details Card */
.artist-details-card {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 70%;
  margin: 0 auto 20px;
}

.artist-details-card img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
}

.artist-details-card .card-content {
  flex: 1;
}

.artist-details-card h2 {
  font-size: 1.8rem;
  margin-top: 0;
  color: rgb(52, 243, 243);
  /* Set heading color*/
}


.artist-details-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.artist-details-card li {
  margin-bottom: 10px;
  font-size: 1.2rem;
  /* color: white; Ensure list items are visible */
}

/* Card Container Styles */
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Specific Card Styles */
.locations-card,
.dates-card,
.relations-card {
  flex: 1;
  min-width: 250px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px white;
  padding: 15px;
}

.locations-card h3,
.dates-card h3,
.relations-card h3 {
  margin-top: 0;
  font-size: 1.3rem;
  color: aliceblue;
  /* Heading color */
}

.card:hover,
.locations-card:hover,
.dates-card:hover,
.relations-card:hover {
  box-shadow: 0 8px 16px rgba(128, 0, 128, 0.8); /* Bolder purple shadow on hover */
}

ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

li {
  margin-bottom: 10px;
  color: white;
  /* Ensure list items are visible */
}

.back-button {
  background-color: purple; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline */
  font-size: 16px; /* Set font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s ease; /* Smooth background transition */
}

.back-button a {
  color: white; /* White link text */
  text-decoration: none; /* Remove underline */
}

.back-button:hover {
  background-color: violet; /* Darker green on hover */
}


/* Responsive Design */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  .artist-details-card {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .artist-details-card img {
    margin-bottom: 15px;
    margin-right: 0;
  }
}