/* Grid container for cards */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Card Styles */
.card {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 4px 8px purple;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  opacity: 0.6;
}

.card img:hover {
  opacity: 4; /* Dim the image by reducing its opacity */
}

.card-content h2 {
  margin: 15px 0;
  font-size: 1.5rem;
  color: white;
}

/* Make the anchor tag covering the entire card */
.card-link {
  text-decoration: none;
  color: inherit; /* Inherit text color to ensure it doesn't look like a regular link */
  display: block;
}

.card-link:hover .card {
  transform: scale(1.05);
  box-shadow: 0 6px 12px violet;

}

/* Button hover effect */
.card:hover {
  background-color: purple;
  font-family: 'Lobster', cursive;
}
