/* General Styles */
body {

    background: url('../images/image3.png') ; 
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
    /* background-color: aliceblue; */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 1.2rem;
    height: 100vh;
}

h1, h2 {
    color: #333333;
}

h1 {
    padding: 20px;
    margin-top: 60px;
}

/* Button Styles */
.btn {
    background-color: #235525;
    text-decoration: none;
    color: rgb(47, 109, 128);
}

.btn:hover {
    background-color: #5b7e5c;
    color: blanchedalmond;
    text-decoration: none;
}