.navbar {
	background-color: #e6e6fa;
	overflow: hidden;
	padding: 0;
	margin: 0;
	box-shadow: 0 8px 6px rgba(0, 0, 0, 0.5);
	height: 80px; /* Increase the height of the navbar */
	display: flex;
	/* align-items: center; Center items vertically */
}

.navbar ul {
	list-style: none;
	display: flex;
	justify-content: flex-start; /* Align items to the left */
	align-items: center; /* Vertically center the items */
	padding: 0;
	margin: 0;
}

.navbar ul li {
	padding: 0px 5%;
}

.navbar ul li a {
	color: #333;
	text-decoration: none;
	font-size: 1.8rem; /* Further increase the font size */
	transition: 0.3s;
}

.navbar ul li a:hover {
	color: #444;
}
