{{template "base" . }}

{{define "css"}}
<link rel="stylesheet" href="../static/styles/details.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
{{end}}

{{define "title"}}
Artist Details
{{end}}

{{define "content"}}
<div class="container">
  <!-- Artist Details Card -->
  <div class="card artist-details-card">
    <img src="{{ .Art.ImageURL }}" alt="Artist Image">
    <div class="card-content">
      <h2>{{ .Art.Name }}</h2>
      <ul>
        <li><b>Members:</b> {{ range .Art.Members }}{{ . }}, {{ end }}</li>
        <li><b>Creation Date:</b> {{ .Art.CreationDate }}</li>
        <li><b>First Album:</b> {{ .Art.FirstAlbum }}</li>
      </ul>
    </div>
  </div>

  <!-- Container for Location, Dates, and Relations Cards -->
  <div class="card-container">
    <!-- Locations Card -->
    <div class="card locations-card">
      <h3>Locations</h3>
      <ul id="locationdata">
        {{range .Locations.Locations}}
        <li>{{.}}</li>
        {{end}}
      </ul>
    </div>

    <!-- Dates Card -->
    <div class="card dates-card">
      <h3>Dates</h3>
      <ul id="datesdata">
        {{range .Dates.Dates}}
        <li>{{.}}</li>
        {{end}}
      </ul>
    </div>

    <!-- Relations Card -->
    <div class="card relations-card">
      <h3>Relations</h3>
      <ul id="relationsdata">
        {{range $location, $dates := .Relations.DatesLocations}}
        <li><b>{{ $location }}:</b> {{range $dates}}{{.}}, {{end}}</li>
        {{end}}
      </ul>
    </div>
  </div>
  <button>
    <p><a href="/">Go Back To Artists</a></p>
  </button>
</div>
{{end}}
