{{define "footer"}}
<link
	rel="stylesheet"
	href="/static/styles/footer.css"
/>
<div class="wrapper">
	<!-- Authors Section -->
	<div class="authors">
		<p>Authors</p>
		
		<div class="author">
			<img
				src="https://lh3.googleusercontent.com/a/ACg8ocLUKAW3QwBqLDqDcmkFTC3wmCPq0dd25wVFn3CPEkCfhQQme9Lx=s288-c-no"
				alt="Author 1"
			/>
			<div class="author-name">Andrew Osindo</div>
		</div>
		<div class="author">
			<img
				src="https://learn.zone01kisumu.ke/git/avatars/66a1c96842506f18e86220baef15b60e?size=870"
				alt="Author 2"
			/>
			<div class="author-name">Vinolia Andisi</div>
		</div>
		
	</div>
	<!-- Authors-End -->

	<!-- Footer-Start -->
	<svg
		xmlns="http://www.w3.org/2000/svg"
		class="d-none"
	>
	</svg>

	<div class="b-example-divider"></div>

	<footer class="my-footer">
		<div class="">
			<span
				style="color: #333"
				class="mb-md-0"
				>&copy; Zone01 Kisumu</span
			>
		</div>
	</footer>
	<!-- Footer-End -->
</div>
{{end}}
